.footer-wraper {
  background-color: white;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 30px;
  width: auto;
  padding: 30px;
  font-family: "Roboto", sans-serif;
}

.footer-wraper p {
  font-size: 16px;
}

.footer-row {
  margin-left: 5px;
  margin-right: 5px;
}

.coded-by {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.media-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.media-icons a {
  font-size: 36px;
  color: rgb(0, 0, 0);
  opacity: 0.75;
  padding: 10px;
}

.media-icons a:hover {
  color: var(--font-color);
  opacity: 1;
}

.source-link a {
  color: black;
}

.source-link a:hover {
  color: var(--font-color);
}

@media (max-width: 540px) {
  .footer-wraper {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    padding: 20px;
  }
  .media-icons {
    justify-content: space-around;
  }

  .source-link {
    text-align: center;
    padding-top: 10px;
  }

  .project-coded {
    display: none;
  }
}
