img {
  width: 220px;
  max-height: 150px;
}

.images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.img-wraper img {
  max-width: 260px;
  height: auto;
  padding: 5px;
  margin: 10px;
  object-fit: cover;
}
