.images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.img-wraper img {
  width: 220px;
  max-height: 150px;
  padding: 5px;
  margin: 10px;
  object-fit: cover;
}

@media (max-width: 540px) {
  .img-wraper img {
    width: 140px;
    height: 100px;
  }
}
