h5 {
  color: var(--font-color);
  padding-bottom: 10px;
}

.meanings-wraper {
  padding-bottom: 20px;
}

.example {
  font-style: italic;
  font-weight: 300;
}

.example::first-letter {
  text-transform: capitalize;
}
