.synonyms ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.synonyms li {
  font-family: "Roboto", sans-serif;
  background-color: var(--padding-color);
  border-radius: 4px;
  font-size: 18px;
}
