:root {
  --font-color: #5730a9;
}
.search-form {
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 70px;
}

.dictionary-form {
  display: flex;
  justify-content: center;
}
.search-input {
  width: 55%;
}

.search-btn {
  margin-left: 20px;
  font-size: 16px;
  line-height: 24px;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 6px 12px;
  background-color: var(--font-color);
  border-style: none;
  color: white;
}
